# Default owners are maintainers
* @ai-dynamo/nixl-maintainers

# CI/CD
/.github/ @ai-dynamo/Devops @ai-dynamo/nixl-devops
/.ci/ @ai-dynamo/nixl-devops
CODEOWNERS @ai-dynamo/Devops @ai-dynamo/nixl-maintainers

# Legal
/ATTRIBUTIONS.md @ai-dynamo/Devops
/CODE_OF_CONDUCT.md @ai-dynamo/Devops
/CONTRIBUTING.md @ai-dynamo/Devops @ai-dynamo/nixl-maintainers
/LICENSE @ai-dynamo/Devops
/SECURITY.md @ai-dynamo/Devops

# Bindings
/src/bindings/python @ovidiusm @mkhazraee @roiedanino
/src/bindings/rust @roiedanino @gleon99 @tomerg-nvidia @mkhazraee

# Tracing
/src/core/tracing/ @e-eygin @ai-dynamo/nixl-maintainers
/test/gtest/unit/tracing/ @e-eygin @ai-dynamo/nixl-maintainers
/docs/tracing.md @e-eygin @ai-dynamo/nixl-maintainers

# UCX Plugin
/src/plugins/ucx @brminich @yosefe @gleon99 @ai-dynamo/nixl-maintainers

# Storage Plugins
/src/plugins/posix @w1ldptr @vvenkates27 @ofer @brminich
/src/plugins/hf3fs @w1ldptr @vvenkates27 @ofer @brminich
/src/plugins/cuda_gds @w1ldptr @vvenkates27 @ofer @brminich
/src/plugins/obj @w1ldptr @vvenkates27 @ofer @brminich

# Benchmarks
/benchmark @aranadive @ovidiusm @brminich @ai-dynamo/nixl-maintainers

# Libfabric Plugins
/src/plugins/libfabric* @amitrad-aws @akkart-aws @fengjica @oa-aws @rongbingzhou
/src/utils/libfabric @amitrad-aws @akkart-aws @fengjica @oa-aws @rongbingzhou
/test/unit/utils/libfabric @amitrad-aws @akkart-aws @fengjica @oa-aws @rongbingzhou

# NIXL EP example
/examples/device/ep @itayalroy @ebarilanM @rakhmets @ai-dynamo/nixl-maintainers
